/* ==================================================== */
.navbar{
        background:#131921!important;
        width: 100%;}
    
.fix-header{
        position: sticky;
        top: 0;
         z-index: 2;
}       
.logo{
        height: 35px;
        border: none;
}
.in-span{
            font-family: inherit;
            font-size: 15px;
            font-weight: 600;
            margin-left: 4px;
            position: relative;
            top: -1px;
            color: white;
}
.logo_body{
        border: 1px #131921 solid;
        transition: ease-out 1s;
 } 
.logo_body:hover{
        border: 1px white solid;
        transition: ease-in 1s;
        
}
.location{
        color: white;
        position: absolute;
        bottom: 0px;
        font-size: 16px;
        left: -3px;
}
.hello{
        font-size: 12px;
        margin-left: 16px;
        color: darkgray;
 }
.select{
        font-weight: 700;
        margin-left: 16px;
        font-size: 15px;
        color: white;
}
.search-bor{
        width: 268px !important;
        outline-color: yellow;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
}
    
.search-bottan{
        margin-top: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        background: orange;
        outline: none !important;
        width: 60px;
        /* margin-left: -68px; */
        height: 38px;
        top: 0px;
        outline: none;
        border-radius: 4px;
        /* position: absolute; */
        border: none;
}
.search-bottan:hover{
        outline: none;
}
.search-bor:hover{
        border:2px orange solid !important;
}
.search-row{
        margin-left: 66px;
}   
.search-boady{
        margin-left: -35px !important;
        position: relative;
        top: 1px;
}
.Categories{
        outline: none;
        height: 39px;
        background: whitesmoke;
        font-size: 14px;
        text-align: center;
        font-family: inherit;
        color: gray;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        width: 100%;
        border-radius: 4px;
}
.search-bor2{
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
}
.bottan-medai{
        background: orange;
        margin-top: 0 !important;
        height: 38px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
}
.language{
        width: 43px;
        background: transparent;
        outline: none;
        border: none;
        color: white;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        margin-top: 4px;
}
.language2{
        width: 50px;
        background: transparent;
        outline: none;
        border: none;
        color: black;
        font-family: inherit;
        margin-top: 4px;
}
.search-col{
        padding-left: 0px;
        padding-right: 0px;}
.flag{
    
height: 37px;
}
.natinal-flag{
        
    height: 100%;
}
.drop{
        margin-left: 0px;
}
.login-row{
        padding-left: 38%;
}
.dropdown-menu{
        height: 490px;
        left: -221px;
        margin-left: -48%;
        min-width: 34rem;
}
.sing{
        width: 200%;
}
.hello2{
     color: white;
}
.new-custamer{
        font-size: 12px;
        margin-top: 2%;
        margin-left: 36%;
        font-family: inherit;
        color: darkgray;
        cursor: pointer;
}
.your-list{
        border-right: 2px gainsboro solid;
        cursor: pointer;
}
.your-list-h{
        margin-left: 15%;
        font-size: 17px;
}
.below-your-list{
        list-style: none;
        color: gray !important;
}
.pointer{
        cursor: pointer;
        /* margin-left: -9px; */
}
.your-acoound-ref{
        color: gray !important;
        font-size: 13px;
        line-height: 27px;
}
.your-acoound-ref:hover{
        color: orange !important;
        font-weight: 500;
        text-decoration: none;
}
.trolley{
        color:white;
        font-size: 26px;
}
.trolley-media{
        color:white;
        font-size: 26px;
        margin-right: 0 !important;
}
.cart{
        font-size: 22px;
        color:white;
        font-family: inherit;
}

/* ========================================================================= */
    
.s-head{
     background-color: #232f3e;
}
.drop_perent{
     display: none;
     position:absolute;
}
.s-drop:hover .drop_perent{
    display: inline-block;
}
.menu-icon{
    font-size: 22px;
}

.secondary-header-list{
    list-style: none;
    height: 50px;
}
.secondary-header-list-child{
        color: white;
        border: 1px #232f3e solid;
        text-decoration: none;
        display: inline-block;
        height: 100%;
        font-size: 100%;
} 
.secondary-header-li{
        display: inline-block;
        color: white !important;
        text-decoration: none !important;
}


.secondary-header-list-child:hover ,.shop-made-img:hover{
    color: white!important;
    text-decoration: none;
    border: 1px white solid;
}
.shop-made-img{
    height: 38px;
    border: 1px #232f3e solid;
    cursor: pointer;
}
.primes-div{
    position: absolute;
    top: 21%;
    z-index: 2;
    right: 21%;
    display: none;
}
.primes:hover .primes-div{
    display: inline-block;
}
.img-thumbnail0{
    height: 300px;
}

.english{
    padding-left: 0px;
    margin-top: 8px;
}
#all-list{
        height: 100vh;
        background: aqua;
        width: 28%;
        z-index: 2;
        position: absolute;
        left: 0px;
        top: 0px;
        display: none;
        box-shadow: 4px 0 10px 0 rgba(0,0,0,.4);
}
.all-btn{
        background: transparent;
        outline: none;
        position: relative;
        top: 4px;
        margin-right: -17px;
        margin-left: 14px;
}

.all-btn:hover{
        outline: none;
}
.auto{
        height: 90vh;
        overflow: auto;
        background-color: #fff;
}
.close-btn{
        background: #232f3e;
        height: 10vh;
}
.x-close{
        background: transparent;
        position: absolute;
        right: -43px;
        top: 11px;
        border: 3px  #232f3e solid;
        border-radius: 20px;
        height: 40px;
        font-weight: 700;
        font-size: 22px;
        color: darkorange;
        cursor: pointer;
        width: 40px;     
}
.user-name{
        font-size: 27px;
        margin-left: 32px;
        padding-top: 20px;
}
.all-list-head{
        color: #131921;
        list-style: none;
}
.all-ref:hover{
        color: #131921;
}
.all-ref{
        text-decoration: none !important;
        color: #131921;
        font-size: 100%;
}
.all-list-body{
        line-height: 188%;
        margin-bottom: 13px;
}
.all-list-body:hover{
        background: whitesmoke;
        margin-bottom: 13px;
}
.ist-tiltle{
        color: #232f3e;
        margin-left: 26px;
        font-weight: 700;
        font-size: 20px;
}
.side-arrow{
        padding-right: 5% !important; 
        color: gray;
        cursor: pointer;
}
.all-list-body:hover .side-arrow{
        color: #232f3e;
}
.perv-con{
        position: absolute;
        top: 1%;
        left: 11%;
        height: 40%;
        display: none;
        width: 20%;
}
.carousel-section:hover .perv-con,.carousel-section:hover .next-con{
        border: 1px gray solid;
        display: block;
}

.next-con{
        position: absolute;
        display: none;
        top: 1%;
        right: 11%;
        height: 40%;
        width: 20%;
}
.head-line{
        color: #232f3e;
        font-size: revert;
        font-weight: 700;
}
.next-con-1{
        position: absolute;
        top: 1%;
        right: 4%;
        height: 98%;
        display: none;
        width: 31%;
}
.perv-con-1{
        position: absolute;
        top: 1%;
        left: 4%;
        height: 98%;
        display: none;
        width: 31%;
}
.carousel-section:hover .perv-con-1,.carousel-section:hover .next-con-1{
        border: 1px gray solid;
        display: block;
}

/* ========================================================================= */

 .sale_row{
    /* height: 100%; */
    position: absolute;
    top: 335px;
    width: 100%;
}
.sale_row-1{
        height: 100%;
        width: 100%;  
}
.box-left{
        margin-left: 2% !important;
}
.box{
        background: #fff;
        height: 400px
}
.box-right{
        margin-right: 2% !important;
}
.col-mult-span{
        font-size: small;
         display: block;
}
.col-mul-img{
    border: 0;
    border-radius: 0;
}
.bg-white{
        height: 110%;
        width: 100%;
}
.securely-btn{
        height: 37px;
        width: 97%;
}
body
{ background: #E3E6E6;}
.box-2{
        background: #fff;
        height: 21%;
}
.see-more{
        font-size: small;
        display: block;
}
.sigh-background {
        height: 30% !important;
         width: 100% !important; 
}
.figure-img {
         margin-bottom: 0px;
         height: 100%;
        
}
.figure-sroll{
         height: 190px;
         
}
.list-img{
         height: 80%;
}
.carousel-control-icon-r{
        background: white;
        opacity: 1;
        width: 30%;
        height: 50%;
        color: black;
        left: 30%;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 30px;
        position: relative;
        padding-top: 16%;

}
.srol-list:hover .carousel-control-icon-r,.srol-list:hover .carousel-control-icon-l{
        border-radius: 5px !important;
        border: 1px black solid !important;
        display: block !important;
        opacity:100%;
}
.carousel-control-icon-l{
        background: white;
        opacity: 1;
        width: 30%;
        height: 50%;
        color: black;
        right: 30%;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 30px;
        position: relative;
        padding-top: 16%;
    }
.carousel-control-prev,.carousel-control-next{
        opacity: 1 !important;
}
.end-side-span{
        color: #007185;
        font-size: x-small;
}
.footer-top{
        background-color: #37475A;
        height: 50px;
}
.footer-mdile{
        background-color: #232F3E;
}

.footer-list{
        list-style: none;
        line-height: 2.3;
        font-size: inherit;
        font-family: inherit;
}
.footer-span{
        font-size: 20px;
}
.end-logo{
        height:35px;
}
.footer-langue-span{
        width: 43px;
        background: transparent;
        outline: none;
        border: none;
        color: #DDD;
        font-family: inherit;
        font-weight: 600;
        font-size: 16px;
        margin-top: 4px;
        padding: 6px;
        border-radius: 5px;
        border: 1px #DDD solid;
}
.world-ion{
        color: #DDD;
}
.footer-flag{
        height: 36px;
}
.footer-hide-checkbox{
        border-radius: 4px;
        line-height: 2.1;
        display: none;
        height: 380px;
        position: absolute;
        z-index: 1;
}
.footer-dorp-langue:hover .footer-hide-checkbox{
        display: inline-block;
}
.location-footer-parent{
        list-style: none;
        text-align: center;
        line-height: 2.6;
        padding-left: 0;
}
.location-footer{
        color: #DDD;
        display: inline-block;
        font-size: 14px;
        font-family: inherit;
        margin-left: 10px;
}
.footer-list-element{
        color: #DDD;
        font-size: 13px;
}
.footer-list-element:hover{
        color: #DDD;
        text-decoration: underline !important;
}
.footer-list-element-1{
        color: white;
        font-weight: 600 !important;
        font-size: 15px;
        line-height: 3.3;
}
.footer-engligh{
        width: 50%;
}
.footer-end{
        background-color: #131A22;
}
.footer-aref{
     color: #fff !important;
     font-size: 14px;
}
.footer-span1{
        color: #999;
}
.kavi{
        font-weight: 800;
}
.perivacy{
        list-style: 1.6;
}



/* --------------------media corry----------------- */

@media  (max-width: 1325px){
       .medai-cart{
        display: none;
       }
       
}
@media  (max-width: 1189px){
.medai-return{
         display: none;
        }
.shop-made{
        display: none;
        }
        
 }
@media (max-width: 1111px){ 
        .medai-acc{
           display: none;
        }
        
 } 


 @media (min-width: 480px) and (max-width: 991px){
.sale_row{
        position: relative;
        top:0;
}
 }
@media (min-width: 992px) and (max-width: 1120px){
        .sale_row{
               position: relative;
               top:0;
        }
        .head-line {
                color: #232f3e;
                font-size: 19px;
                font-weight: 700;
            }
        

 }
 @media (min-width: 768px) and (max-width: 991px){
 .sigh-background {
        height: 30% !important;
        width: 75% !important;
        }
        
} 
         
@media (min-width: 290px) and (max-width: 480px)
{
.sale_row{
        position: relative;
        top:0;
}
#all-list{
        width:70%;
}
.user-name {
        font-size: 24px;
        margin-left: 10px;
        padding-top: 10px;
}
.ist-tiltle {
        font-size: 16px;
        margin-left: 10px;
        width: 90%;
}
.all-ref{
        font-size: 12.5px;
}
.all-list-body {
        line-height: 152%;
        margin-bottom: 10px;}
        .all-list-head {
                padding-left: 20px;
 }
 .head-line {
        font-size: 24px;
 }
 .box {
        height: 450px;
    }
.figure-img {
        margin-bottom: 0px;
        height: 92%;
        border-radius: 0px !important;
 }
 .figure-img {
        margin-bottom: 0px;
        height: 90%;
}
 .font-italic{
        font-size: 11px;
 }
 .sigh-background {
        height: 38% !important;
        width: 100% !important;
}
.footer-engligh{
        width: 100%;
        text-align: center;
}
.footer-dorp-langue:hover .footer-hide-checkbox{
        display: none;
}
    
}


                
 